<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Index" asp-controller="Panel">User Panel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Blogs</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Blog
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="AddBlog" asp-controller="Blog">Add Blog</a></li>
@*                             <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> *@
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex mx-auto" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                @if (String.IsNullOrEmpty(User.Identity?.Name))
                {
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="btn btn-outline-success" type="button" asp-action="Login" asp-controller="Auth">Sign In</a>
                        </li>
                        <br />
                        <li class="nav-item">
                            <a class="btn btn-outline-success" type="button" asp-action="Register" asp-controller="Auth">Register</a>
                        </li>
                    </ul>
                }
                @if (User.Identity?.Name != null)
                {
                    <partial name="~/Views/Shared/Partials/_NavbarDropdownPartialView.cshtml" />
                }
            </div>
        </div>
    </nav>

</header>